{% extends 'layout/form.html.twig' %}

{% block title %}Password Reset - {{ site_name }}{% endblock %}

{% block header %}Password Reset{% endblock %}

{% block form %}
    {{ form_start(form, {'attr': {'class': 'uk-form-stacked'}}) }}
    <fieldset class="uk-fieldset uk-padding-remove-top">
        {% for flashError in app.flashes('reset_password_error') %}
            <div class="uk-alert-danger" uk-alert><a class="uk-alert-close"
                                                     uk-close></a>{{ flashError }}
            </div>
        {% endfor %}
        {% for error in errors %}
            <div class="uk-alert-danger" uk-alert><a class="uk-alert-close"
                                                     uk-close></a>{{ error.getMessageTemplate()|trans(error.getMessageParameters(), 'validation') }}
            </div>
        {% endfor %}
        <div class="uk-margin uk-margin-remove-top">
            <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon" uk-icon="icon: mail"></span>
                {{ form_widget(form.email, {'attr': {'class': 'uk-input', 'placeholder': 'email'}}) }}
            </div>
        </div>

        <div class="uk-margin uk-margin-remove-bottom">
            <input class="uk-button uk-button-large uk-button-default uk-width-1-1" type="submit" value="Continue"/>
        </div>
    </fieldset>
    {{ form_end(form) }}
{% endblock %}

{% block _bottom %}{% endblock %}
